{:source-paths ["src/cljs"]
 :builds {:app {:target :esm
                :compiler-options {:output-feature-set :es6}
                :modules {:main {:exports {init helloworld.core/init}}}
                :output-dir "compiled/"}}}
