{:nrepl {:port 7002}
 
 :dependencies [[funcool/promesa "1.8.1"]]
 
 :source-paths ["src/cljs"]
 :builds {:app {:target :esm
                :output-dir "compiled/js/" 
                :modules {:main {:exports {init helloworld.core/init!}}}
                :compiler-options {:output-feature-set :es6}}}}
