{:missing ":ru текст не найден"
 
 :page {:lang "Ru"
        :title "Привет! Гость"}

 :author {:name {:title "Имя:"
                 :value "Дмитрий Чеканов"}
          
          :profession {:title "Профессия:"
                       :value "Креативный веб разработчик"}
          
          :bio {:title "Биография:"
                :value "Опыт работы 7 лет - html, css, javascript. Страсть к творчеству в цифровом пространстве. Постоянный поиск новых задач и возможностей для роста. Знание современных фреймворков для веб-разработки."}}}
