{:server/ring-jetty
 {:port 3000
  :handler #ig/ref :handler/ring}
 
 :handler/ring
 {:router #ig/ref :router/core}
 
 :router/core
 {:base-path ""
  :routes #ig/refset :router/routes}

 [:api/health :router/routes]
 {:path "/health"}

 [:pages/home :router/routes]
 {:path "/"}}
